<div class="container">
  <div class="row mt-5">
    <div class="col-lg-12">
      <!--<label>Current step: {{currentStep}}</label>-->
      <app-reset-password-select-method *ngIf="currentStep === 1" [step]="currentStep" (action)="userAction($event)"></app-reset-password-select-method>
      <app-reset-password-step1 *ngIf="currentStep === 2" [step]="currentStep" (action)="userAction($event)"></app-reset-password-step1>
      <app-reset-password-step2 *ngIf="currentStep === 3" [step]="currentStep" (action)="userAction($event)"></app-reset-password-step2>
      <app-reset-password-step3 *ngIf="currentStep === 4" [step]="currentStep" (action)="userAction($event)"></app-reset-password-step3>
    </div>
  </div>
</div>
