<div class="row mt-5">
  <div class="col-lg-5 mx-auto">
    <h3 class="mb-3">{{ 'reset_password_step2.title' | translate }}</h3>

    <form [formGroup]="passChangeForm" (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label for="Password">{{ 'reset_password_step2.confirmation_code_lbl' | translate }}</label>
        <input
          type="text"
          placeholder="{{ 'reset_password_step2.confirmation_code_input' | translate }}"
          id="confirmationCode"
          formControlName="confirmationCode"
          required
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="pwd">{{ 'reset_password_step2.password_lbl' | translate }}</label>
        <input
          type="password"
          placeholder="{{ 'reset_password_step2.password_input' | translate }}"
          formControlName="pwd"
          class="form-control"
        />

        <p class="">{{ 'register.minimun_password_requirements' | translate }}</p>
        <p [ngClass]="pwd.hasError('required') || pwd.hasError('minlength') ? 'text-danger' : 'text-success'">
          <i class="material-icons validation-icons">
            {{ pwd.hasError('required') || pwd.hasError('minlength') ? 'clear' : 'done' }}
          </i>
          {{ 'register_errors.password_min_length' | translate }}
        </p>
        <p [ngClass]="pwd.hasError('required') || pwd.hasError('hasNumber') ? 'text-danger' : 'text-success'">
          <i class="material-icons validation-icons">
            {{ pwd.hasError('required') || pwd.hasError('hasNumber') ? 'clear' : 'done' }}
          </i>
          {{ 'register_errors.password_number' | translate }}
        </p>
        <p [ngClass]="pwd.hasError('required') || pwd.hasError('hasCapitalCase') ? 'text-danger' : 'text-success'">
          <i class="material-icons validation-icons">
            {{ pwd.hasError('required') || pwd.hasError('hasCapitalCase') ? 'clear' : 'done' }}
          </i>
          {{ 'register_errors.password_capital_letter' | translate }}
        </p>
        <p [ngClass]="pwd.hasError('required') || pwd.hasError('hasSmallCase') ? 'text-danger' : 'text-success'">
          <i class="material-icons validation-icons">
            {{ pwd.hasError('required') || pwd.hasError('hasSmallCase') ? 'clear' : 'done' }}
          </i>
          {{ 'register_errors.password_small_letter' | translate }}
        </p>
        <p [ngClass]="pwd.hasError('required') || pwd.hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
          <i class="material-icons validation-icons">
            {{ pwd.hasError('required') || pwd.hasError('hasSpecialCharacters') ? 'clear' : 'done' }}
          </i>
          {{ 'register_errors.password_special_character' | translate }}
        </p>
      </div>

      <div class="form-group">
        <label for="confirm">{{ 'reset_password_step2.re_type_passsword_lbl' | translate }}</label>
        <input
          type="password"
          placeholder="{{ 'reset_password_step2.re_type_passsword_input' | translate }}"
          formControlName="confirm"
          class="form-control"
        />
        <p class="mt-1 text-danger" *ngIf="(confirm.dirty || confirm.touched) && confirm.invalid && !!confirm.errors?.required">
          {{ 'register_errors.confirm_password_required' | translate }}
        </p>

        <p class="mt-1 text-danger" *ngIf="passChangeForm.errors?.passwordsDoNotMatch">
          {{ 'register_errors.password_no_match' | translate }}
        </p>
      </div>

      <input type="hidden" formControlName="recaptcha" />
      <div class="col d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!passChangeForm.valid">
          {{ 'reset_password_step2.reset_btn' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
