<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="text-center title mb-0">{{'personal_information.title' | translate}}</h1>
    <h5 class="text-center subtitle mt-0 mb-4">{{'personal_information.subtitle' | translate}}<br>
      <span> {{'personal_information.reminder' | translate}} </span></h5>
  </div>
</div>

<!-- Stepper -->
<div class="row justify-content-md-center">
  <div class="steps-form">
    <div class="steps-row setup-panel">
      <div class="steps-step">
        <button class="btn-step">1 </button>
      </div>
      <div class="steps-step">
        <button class="btn-step" disabled> 2 </button>
      </div>
      <div class="steps-step">
        <button class="btn-step" disabled> 3 </button>
      </div>
      <div class="steps-step">
        <button class="btn-step" disabled> <i class="material-icons">flag</i></button>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="onboardingForm" (ngSubmit)="nextStep()">
  <div class="row text-center">
    <div class="col-lg-8 mt-2 mx-auto">
      <label class="header">{{'personal_information.gender' | translate}}</label>
      <mat-radio-group formControlName="genderId">
        <div class="row">
          <div class="col-md-6 mb-3">
            <mat-radio-button class="checkbox-form" [value]="1">
              <h5 class="gender-text">{{'personal_information.male' | translate}}</h5>
            </mat-radio-button>
          </div>
          <div class="col-md-6">
            <mat-radio-button class="checkbox-form" [value]="2">
              <h5 class="gender-text">{{'personal_information.female' | translate}}</h5>
            </mat-radio-button>
          </div>
        </div>
      </mat-radio-group>
      <label class="header">{{'personal_information.date_of_birth' | translate}}</label>
      <div class="row justify-content-md-center">
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" formControlName="month">
              <option disabled [ngValue]="null">MM</option>
              <option [ngValue]="month.id" *ngFor="let month of months">{{month.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" formControlName="day">
              <option disabled [ngValue]="null">DD</option>
              <option [ngValue]="day" *ngFor="let day of days">{{day}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" formControlName="year">
              <option disabled [ngValue]="null">YYYY</option>
              <option [ngValue]="year" *ngFor="let year of years">{{year}}</option>
            </select>
          </div>
        </div>
      </div>
      <label class="header">{{'personal_information.emergency_information' | translate}}</label>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control"
              [placeholder]="'personal_information_placeholders.name_placeholder' | translate"
              formControlName="emergencyContactFirstName">
            <p class="mt-1 text-danger"
              *ngIf="(emergencyContactFirstName.dirty || emergencyContactFirstName.touched) && emergencyContactFirstName.invalid && emergencyContactFirstName.errors.required">
              {{'personal_information_errors.name_required' | translate}}
            </p>
          </div>
          <div class="form-group">
            <input type="text" class="form-control"
              [placeholder]="'personal_information_placeholders.phone_number_placeholder' | translate"
              formControlName="emergencyContactPhoneNumber" appOnlyNumbers="true" mask='(000) 000-0000'>
            <p class="mt-1 text-danger"
              *ngIf="(emergencyContactPhoneNumber.dirty || emergencyContactPhoneNumber.touched) && emergencyContactPhoneNumber.invalid && emergencyContactPhoneNumber.errors.required">
              {{'personal_information_errors.phone_number_required' | translate}}
            </p>
            <p class="mt-1 text-danger"
              *ngIf="(emergencyContactPhoneNumber.dirty || emergencyContactPhoneNumber.touched) && emergencyContactPhoneNumber.invalid && emergencyContactPhoneNumber.errors.minlength">
              {{'personal_information_errors.phone_number_min' | translate}}
            </p>
            <p class="mt-1 text-danger"
              *ngIf="(emergencyContactPhoneNumber.dirty || emergencyContactPhoneNumber.touched) && emergencyContactPhoneNumber.invalid && emergencyContactPhoneNumber.errors.maxlength">
              {{'personal_information_errors.phone_number_max' | translate}}
            </p>
          </div>
          <div class="form-group">
            <input type="text" class="form-control"
              [placeholder]="'personal_information_placeholders.relationship_placeholder' | translate"
              formControlName="emergencyContactRelationship">
            <p class="mt-1 text-danger"
              *ngIf="(emergencyContactRelationship.dirty || emergencyContactRelationship.touched) && emergencyContactRelationship.invalid && emergencyContactRelationship.errors.required">
              {{'personal_information_errors.relationship_required' | translate}}
            </p>
          </div>
        </div>
      </div>
      <label class="header">{{'personal_information.physician_information' | translate}}</label>
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control input-bg pl-3"
            [placeholder]="'personal_information_placeholders.first_name_placeholder' | translate"
            formControlName="physicianFirstName">
          <p class="mt-1 text-danger"
            *ngIf="(physicianFirstName.dirty || physicianFirstName.touched) && physicianFirstName.invalid && physicianFirstName.errors.required">
            {{'personal_information_errors.first_name_required' | translate}}
          </p>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control input-bg pl-3"
            [placeholder]="'personal_information_placeholders.last_name_placeholder' | translate"
            formControlName="physicianLastName">
          <p class="mt-1 text-danger"
            *ngIf="(physicianLastName.dirty || physicianLastName.touched) && physicianLastName.invalid && physicianLastName.errors.required">
            {{'personal_information_errors.last_name_required' | translate}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control"
              [placeholder]="'personal_information_placeholders.physician_phone_placeholder' | translate"
              formControlName="physicianPhoneNumber" appOnlyNumbers="true" mask='(000) 000-0000'>
            <p class="mt-1 text-danger"
              *ngIf="(physicianPhoneNumber.dirty || physicianPhoneNumber.touched) && physicianPhoneNumber.invalid && physicianPhoneNumber.errors.required">
              {{'personal_information_errors.physician_phone_required' | translate}}
            </p>
            <p class="mt-1 text-danger"
              *ngIf="(physicianPhoneNumber.dirty || physicianPhoneNumber.touched) && physicianPhoneNumber.invalid && physicianPhoneNumber.errors.minlength">
              {{'personal_information_errors.physician_phone_min' | translate}}
            </p>
            <p class="mt-1 text-danger"
              *ngIf="(physicianPhoneNumber.dirty || physicianPhoneNumber.touched) && physicianPhoneNumber.invalid && physicianPhoneNumber.errors.maxlength">
              {{'personal_information_errors.physician_phone_max' | translate}}
            </p>
          </div>
          <div class="form-group">
            <input type="text" class="form-control"
              [placeholder]="'personal_information_placeholders.physician_fax_placeholder' | translate"
              formControlName="physicianFax" appOnlyNumbers="true" mask='(000) 000-0000'>
            <p class="mt-1 text-danger"
              *ngIf="(physicianFax.dirty || physicianFax.touched) && physicianFax.invalid && physicianFax.errors.minlength">
              {{'personal_information_errors.physician_fax_min' | translate}}
            </p>
            <p class="mt-1 text-danger"
              *ngIf="(physicianFax.dirty || physicianFax.touched) && physicianFax.invalid && physicianFax.errors.maxlength">
              {{'personal_information_errors.physician_fax_max' | translate}}
            </p>
          </div>
          <div class="form-group">
            <mat-checkbox class="text-left float-left no-physician" (change)="setNoPhysician();"
              formControlName="noPhysician">
              {{'personal_information.no_physician' | translate}}
            </mat-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right float-rigth">
          <button class="btn btn-success" type="submit"
            [disabled]="!onboardingForm.valid">{{'personal_information.btn_next' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</form>