<div class="row mt-5 text-center">
  <div class="col-md-12">
    <h2 class="mb-5">How To Get Started</h2>
  </div>
  <div class="col-md-4 offset-md-4">
    <h3 class="mb-3">Step 1</h3>
    <div class="card">
      <div class="card-body">
        <p>Join PopupCare</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 text-center">
  <div class="col-md-12">
    <h3 class="mb-3">Step 2</h3>
  </div>
</div>
<div class="row mt-5 text-center">
  <div class="col-md-3 mb-2">
    <div class="card">
      <div class="card-body">
        <p>Get on the Go Card</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-2">
    <div class="card">
      <div class="card-body">
        <p>Purchase a New Presciption</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-2">
    <div class="card">
      <div class="card-body">
        <p>Refill a Presciption</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-2">
    <div class="card">
      <div class="card-body">
        <p>Transfer a Prescription</p>
      </div>
    </div>
  </div>
</div>

<!--<app-loader
  [title]="'Nice Message Here Reminding of a Benefit'"
  [subtitle]="'this is going to be the subtitle'"
  [description]="'We’re creating your account and personalizing your dashboard. This may take a minute.'"
></app-loader>-->
<app-cookie-consent></app-cookie-consent>